.header {
  padding: 60px;
  text-align: center;
  background: #294614;
  color: #6DC0A4;
  font-size: 25px;
}

.footer {
  text-align: center;
  background: white;
  color: #6DC0A4;
  font-size: 25px;
}

.copyright-text {
  color: #6DC0A4;
  font-size: 15px;
}

.copyright-text a {
  text-decoration: none;
  color: red;
}

.section-subheading {
  font-style: italic;
  font-size: 28px;
  color: white;
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 3px 3px 10px black;
}

.form-input {
  text-align: center;
  padding: 40px;
}

label {
  color: #404040;
  font-size: 1.6rem;
  text-align: left;
  text-shadow: 1px 1px 5px #404040;
  width: 20rem;

}

#holder-ingredients {
  padding-right: 2.1rem;
}

body {
  overflow-x: hidden;
}

input {
  width: 30%;
  padding: 10px;
}

.textfield {
  margin: auto;
  width: 30%;
  font-size: 17px;
}

.holder {
  padding-left: 2rem;
}

hr.rounded {
  border-top: 8px solid #294614;
  border-radius: 5px;
}

.results-div {
  text-align: center;
}

.dish-image {
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;

}

.dish-image-div {
  margin-bottom: 1.2rem;
}

.dish-title-div a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.dish-title-div a:hover {
  text-decoration: underline;
}

.dish-ingredients-div {
  margin-bottom: 3rem;
}

#search-results-heading {
  color: black;
  text-decoration: underline;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
